<h4><span ng-bind="index.name"></span> <small>created: <span ng-bind="index.settings.index.creation_date | date : 'dd.MM.yyyy H:mm:ss'"></span></small></h4>
<hr>

<fieldset class="section">
    <legend>Aliases</legend>
    <div class="aliases">
        <div class="list pull-left">
            <span ng-repeat="(alias, data) in index.aliases" class="btn btn-info"><span ng-bind="alias"></span> <strong class="text-danger">&times;</strong></span>
        </div>
        <form action="/" class="form-inline" ng-submit="addAlias($event, newAliasName)" class="pull-left">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="newAliasName" required="required">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button"><span class="fa fa-plus"></span></button>
                </span>
            </div>
        </form>
    </div>
</fieldset>

<fieldset class="section">
    <legend>Mappings</legend>
    <div class="mappings">

    </div>
</fieldset>

<fieldset class="section">
    <legend>Settings</legend>
    <div class="mappings">

    </div>
</fieldset>