<h4><span ng-bind="index.name"></span> <small>created: <span ng-bind="index.settings.index.creation_date | date : 'dd.MM.yyyy H:mm:ss'"></span></small></h4>
<hr>

<fieldset class="section">
    <legend>Aliases</legend>
    <div class="aliases">
        <div class="list pull-left">
            <span ng-repeat="(alias, data) in index.aliases" class="btn btn-info"><span ng-bind="alias"></span> <strong class="text-danger">&times;</strong></span>
        </div>
        <form action="/" class="form-inline" ng-submit="addAlias($event, newAliasName)">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="newAliasName" required="required">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button"><span class="fa fa-plus"></span> Add alias</button>
                </span>
            </div>
        </form>
    </div>
</fieldset>

<fieldset class="section">
    <legend>Mappings</legend>
    <div class="mappings">
        <form action="/" class="form-inline" ng-submit="addType($event, newTypeName)">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="newTypeName" required="required">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button"><span class="fa fa-plus"></span> Add type</button>
                </span>
            </div>
        </form>
        <div class="list">
            <div ng-repeat="(name, data) in index.mappings">
                <h4 ng-bind="name"></h4>
            </div>
        </div>
        <div class="section-footer">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-4">
                    <button class="btn btn-block btn-success" ng-click="putMapping($event)"><span class="fa fa-save"></span> Update mapping</button>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset class="section">
    <legend>Settings</legend>
    <div class="settings">

    </div>
</fieldset>